:root {
    --white-color: #fff;
    --black-color: #000;

    --primary-blue-color: #005CFF;
    --hover-blue-color: #0044ba;

    --purple-span-color: #523f8d;

    --green-price-color: #5DC0BE;

    --border-gray-color: #ccc;
    --mug-background-color: #C2C2C2;
    --promotion-container-background-color: #E8E9EB;

    --font-color-100: #656565;
    --font-color-200: #5e5e5e;

    --gray-100: #f2f2f2;
    --gray-300: #474747;
    --gray-400: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito-Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white-color);
}

#first-order-coupon {
    width: 100%;
    background-color: var(--primary-blue-color);
    padding: 0.5rem 0.75rem;
}

#first-order-coupon p {
    color: var(--white-color);
    text-align: center;
    color: var(--white-color);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 180%;
}

#first-order-coupon p span {
    background-color: var(--purple-span-color);
    padding: 0.05rem;
}

#first-order-coupon p a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    font-style: italic;
}

#header-container {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 100%;
    max-width: 1260px;
    padding: 1rem 2rem 1rem 1rem;
    gap: 1.5rem;
    justify-content: space-between;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-search {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.user-cart {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.header-content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button i {
  font-size: 1.75rem;
}

.cart-button span {
    position: absolute;
    top: 1;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--primary-blue-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header-content button i {
    font-size: 2rem;
}

.menu-desktop .menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--black-color);
}

.menu-desktop .menu-toggle i {
    font-size: 1rem;
    font-weight: 600;
}

.menu-desktop .menu-toggle span {
    font-size: 0.875rem;
    font-weight: 700;
}

.menu-desktop  {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 0.875rem;
    font-weight: 400;
}

#search-form {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 594px;
    margin: auto;
}

#search-form input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-gray-color);
    outline: none;
    font-size: 0.875rem;
}

#search-form button {
    position: absolute;
    right: 12px;
    top: 8px;
    background: transparent;
    cursor: pointer;
    border: none;
}

#search-form button i {
    font-size: 1.250rem;
}

.user-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-info i {
    font-size: 2rem;
    color: var(--primary-blue-color);
    font-weight: 500;
}

.user-name {
    display: flex;
    flex-flow: column nowrap;
}

.user-name span {
    font-size: 0.875rem;
    color: var(--black-color);
    font-weight: 500;
}

#header-container .search-result {
    font-size: 0.75rem;
    color: var(--font-color-200);
    font-style: italic;
    margin: auto;
}

.mobile-menu {
    position: fixed;
    top: 190px;
    left: 0;
    z-index: 999;
    width: 50%;
    height: 100%;
    background-color: var(--white-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-flow: column nowrap;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu ul {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding: 1rem;
}

.mobile-menu ul li {
    cursor: pointer;
    border-bottom: 1px solid var(--border-gray-color);
    padding: 1rem 0;
}

.mobile-menu ul li a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    color: var(--black-color);
}

.mobile-menu ul li a:hover {
    color: var(--primary-blue-color);
}

.mobile-menu ul li a i {
    font-size: 1.125rem;
}


main {
    margin-top: 12rem;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.promotion-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--promotion-container-background-color);
}

.products-container {
    width: 100%;
    max-width: 1290px;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 2rem 1rem 1rem;
    gap: 1rem;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-header h2 {
    font-size: 1rem;
    font-weight: 700;
}

.products-header a {
    color: var(--gray-400);
    font-size: 0.875rem;
    font-weight: 700;
}

.product {
    position: relative;
    width: 174px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    background: var(--white-color);
    border: 1px solid var(--border-gray-color);
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}

.new {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #00274E;
    border-radius: 4px;
    color: var(--white-color);
    padding: 0.25rem;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: 700;
}

.product-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.product-info h3 {
    font-size: 0.875rem;
    font-weight: 400;
}

.product-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.price {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
}

.price .old-price {
    font-size: 0.75rem;
    text-decoration: line-through;
    color: var(--font-color-200);
}

.price .new-price {
    font-size: 1rem;
    font-weight: 700;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    color: var(--white-color);
    font-weight: 700;
    background-color: var(--green-price-color);
    padding: 0.25rem;
    border-radius: 4px;
}

.installments {
    font-size: 0.75rem;
    color: var(--font-color-200);
}

.installments strong {
    font-weight: 700;
    color: var(--gray-300);
}

.buy-product-button {
    background-color: var(--primary-blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
}

.buy-product-button:hover {
    background-color: var(--hover-blue-color);
    transition: background-color 0.2s ease;
}

.swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 16px 32px;
}

.swiper-slide {
    width: auto;
}

.swiper-pagination-bullet {
    background-color: var(--primary-blue-color);
}

.swiper-button-prev, .swiper-button-next {
    color: var(--primary-blue-color);
    display: none;
}

.image-mug-contaianer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.image-mug {
    width: 100%;
    background-color: var(--mug-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-mug picture img {
    width: 100%;
}

.image-mug-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1.5rem;
}

.image-mug-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.image-mug-text p {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.image-kitchen-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: var(--gray-100);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.image-kitchen picture img {
    width: 100%;
}

.image-kitchen-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.image-kitchen-text h2 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.image-kitchen-text ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
}

.image-kitchen-text ul li {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}

.image-kitchen-text ul li span {
    min-width: 50px;
    min-height: 50px;
    background-color: var(--primary-blue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 2rem;
}

.image-office-container {
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}

.image-office-container picture {
    width: 100%;
}

.image-office-container picture img {
    width: 100%;
}

.image-office-container span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.form-container h3 {
    font-size: 1rem;
    font-weight: 700;
}

.form-container h3 span {
    color: var(--primary-blue-color);
}

#newsletter-form {
    width: 90%;
    max-width: 1260px;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: var(--gray-100);
}

#newsletter-form input {
    width: 100%;
    max-width: 280px;
    border: none;
    padding: 1rem;
    border-radius: 8px;
}

#newsletter-form label {
    font-size: 0.625rem;
    font-weight: 700;
    color: var(--font-color-100);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#newsletter-form label a {
    color: 656565;
    margin-left: 4px;
}

#newsletter-form label input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#newsletter-form button {
    width: 100%;
    max-width: 280px;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--primary-blue-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
}

#newsletter-form button:hover {
    cursor: pointer;
    background-color: var(--hover-blue-color);
    transition: all 0.2s ease-in-out;
}

.info-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--gray-100);
    padding: 3rem 0;
}

.header-info-content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header-icons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-icons a {
    text-decoration: none;
}

.header-icons a i {
    font-size: 2rem;
    color: var(--primary-blue-color);
    font-weight: 500;
}

.info-content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.category {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid var(--border-gray-color);
    padding: 1rem 2rem;
    cursor: pointer;
}

.category:first-child {
    border-top: 1px solid var(--border-gray-color);
}

.category-title {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.category-title i {
    font-size: 1rem;
    color: var(--primary-blue-color);
    font-weight: 700;
}

.category-list {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
}

.category.open .category-list {
    max-height: 500px;
}

.category-title i {
    transition: transform 0.3s ease-in-out; 
  }
  

.category.open .category-title i {
    transform: rotate(180deg);
  }

.category-list li {
    padding-top: 0.5rem;
}

.category-list li h5 a {
    text-decoration: none;
    color: var(--font-color-100);
    font-size: 0.875rem;
    font-weight: 700;
}

.category-list li h5 a:hover {
    text-decoration: underline;
}

.category-list li h5 span {
    color: var(--font-color-100);
    font-size: 0.875rem;
    font-weight: 500;
}

.category-list li h5 span strong {
    color: var(--black-color);
    font-weight: 700;
}

.payment-method {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 1rem 2rem;
}

footer p {
   font-size: 0.75rem;
   font-weight: 400;
   text-align: center;
   max-width: 1000px;
}

.footer-img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer-img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .promotion-container {
        gap: 12rem;
    }

    .discount {
        font-size: 0.75rem;
    }

    .product-price {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
   #header-container {
        gap: 1rem;
   }

   #search-form {
        margin: 0;
   }

   main {
    margin-top: 10rem;
   }

   .mobile-menu {
    position: fixed;
    top: 155px;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 7%;
    background-color: var(--white-color);
    transform: translateY(-200%);
    transition: transform 0.3s ease;
    display: flex;
    flex-flow: row nowrap;
    }

    .mobile-menu.active {
    transform: translateY(0);
    }

    .mobile-menu ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    }

    .mobile-menu ul li {
    padding: 0 1rem;
    border: none;
    }   

    .promotion-container {
        gap: 0;
    }

    .swiper-button-prev, .swiper-button-next {
        display: flex;
    }

    .image-mug-contaianer {
        max-width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items:  center;
        margin-bottom: 3rem;
    }

    .image-mug-text h2 {
        font-size: 2rem;
    }

    .image-mug-text p {
        font-size: 1rem;
    }

    .image-kitchen-container {
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        padding: 2rem 4rem;
        gap: 4rem;
    }

    .image-kitchen-text {
        gap: 3rem;
        width: 40%;
    }

    .image-kitchen-text h2 {
        font-size: 2rem;
    }

    .image-kitchen-text ul {
        gap: 4rem;
    }

    .image-kitchen-text ul li {
        gap: 1rem;
    }

    .image-kitchen-text ul li span {
        min-width: 70px;
        min-height: 70px;
        font-size: 2.5rem;
    }

    .image-kitchen-text ul li p {
        font-size: 1rem;
    }
    
    .image-office-container span {
        padding: 1.5rem;
        font-size: 1.2rem;
    }

    .form-container {
        gap: 2rem;
        margin-bottom: 3rem;
    }

    #newsletter-form {
        width: 90%;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 2rem;
    }

    #newsletter-form button {
        max-width: 120px;
    }    

    .header-info-content {
        width: 85%;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 8rem;
    }

    .header-info {
        width: auto;
    }

    .info-content {
        width: 100%;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1rem;
    }

    .category {
        border-bottom: none;
        cursor: auto;
        padding: 0;
    }

    .category-title {
      margin-bottom: 1rem;
    }

    .category:first-child {
        border-top: none;
    }

    .category-title i {
        display: none;
    }
    
    .category-list {
        all: inherit;
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.3rem;
    }
}
